.Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  
}

.MenuLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--primary);
  color:  var(--tex-over-primary);
  padding: 1rem;
  border-radius: 0.8rem;
  transition: all 0.1s ease;
}

.MenuLink:hover {
  filter: brightness(80%);
}

.MenuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
